<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style type="text/css">
form input[type=submit] {
	color: white;
}

form {
	margin-left: 35%;
	margin-top: 10%;
}

.col .row {
	margin-right: 0rem;
}
</style>

<title>Login</title>
</head>
<body>



	<form th:action="@{/login}" method="post" class="col s12">
		<h5>Acesso ao Sistema</h5>
		<div class="row">
			<div class="input-fiel col s6">
				<label>Login</label> <input type="text" name="username"
					style="border-radius: 7px;" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="input-fiel col s6">
				<label>Senha</label> <input type="password" name="password"
					style="border-radius: 7px;" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="input-fiel col s6">
				<input name="Logar" type="submit" value="Entrar"
					class="btn waves-effect waves-light" />

			</div>

		</div>

	</form>


</body>
</html>